body {
    background-color: #ffe6eb;
    font-family: 'Georgia', serif;
    text-align: center;
}

h1 {
    color: #d6336c;
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    position: relative;
    width: 300px;
    margin: auto;
    text-align: center;
}

.envelope {
    position: relative;
    width: 250px;
    height: 150px;
    cursor: pointer;
}

.envelope img {
    width: 100%;
}

.flap {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d6336c;
    top: 0;
    left: 0;
    transform-origin: top;
    transition: transform 1s ease-in-out;
}

.letter {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    height: auto;
    background: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 1s, top 1s;
}

.letter img {
    width: 100%;
}

.letter p {
    font-size: 16px;
    color: black;
    text-align: center;
}
